.top-bar,
.top-bar ul {
  background-color: $nav-background;
}
a {
  text-decoration: $no-decoration;
}
li {
  list-style: $no-style;
  display: inline-block;
  padding: .2em 1em;
}
.top-bar {
  .menu-text {
    color: $nav-text-color;
  }
}
